<div class="card-body">
    <h3>Atléticas</h3>
    <hr>
    <div class="card-columns">
        {{#each atleticas }}

        <div class="col-sm-12">
            <div class="card">
                <img src="../public/uploads/{{img.key}}" class="card-img-top rounded" alt="{{img.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>
                    <a href="/atleticas/{{slug}}" class="btn btn-primary">Saiba mais</a>
                </div>
            </div>
        </div>


        {{/each}}

    </div>


</div>
